#elplc{
    margin: 15px 0;
    transform: rotate(45deg);
}
#el
plc{
    cursor: pointer;
    transition: all ease 5s;
}
#plc:hover{
    transform: scale(2,8);
    margin: 50px 0 50px 100px;
}
#controlar{
    cursor: pointer;
    transition: all ease-in-out 2s;
}
#controlar:hover{
    transform: rotate(180deg);
}